# Evita di includere l'ambiente virtuale
sdv-env/
venv/

# Evita di includere file di sistema
.DS_Store
Thumbs.db

# Evita di includere file di log e cache
*.log
__pycache__/
*.pyc
*.pyo

# Escludi database e dati generati
*.db
*.sqlite
*.csv
data/
dump/

# Evita di includere le dipendenze installate
node_modules/
*.lock
